services:
  caddy:
    container_name: caddy
    image: caddy:2-alpine
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - ./volumes/caddy:/etc/caddy
      - ./projects:/var/www
      - caddy-data:/data
      - caddy-config:/config
    depends_on:
      - php
    networks:
      - hydrogen
  php:
    container_name: php84
    build:
      context: ./config/php
      args:
        UID: ${UID}
        GID: ${GID}
    user: "${UID}:${GID}"
    depends_on:
      - postgres
    volumes:
      - ./volumes/php:/etc/php
      - ./projects:/var/www
    networks:
      - hydrogen
  postgres:
    container_name: postgres
    image: postgres:16-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./volumes/postgres:/var/lib/postgresql
    networks:
      - hydrogen

networks:
  hydrogen:
    driver: bridge

volumes:
  caddy-data:
  caddy-config: